<div class="headerContainer">
    <div class="headerTop">
        <div class="logo">
            <img src="/images/locoOleArepa.jpeg" alt="LogoOleMadrid">
        </div>

        <div class="burger" (click)="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    @if (menuAbierto) {
    <div class="headerBottom">
        <nav class="navegador">
            <ul>
                <li class="yellow"><a href="reserva">Reserva</a></li>
                <li class="blue"><a href="menu">Menu</a></li>
                <li class="red"><a href="Delivery">Delivery</a></li>
            </ul>
        </nav>
    </div>
    }
</div>